.aps-form *,
.aps-form *:before,
.aps-form *:after {
	box-sizing: border-box;
}

.aps-radio { display: none; }

.aps-radio:checked + .aps-button-blue {
	background: #12a3eb;
	border-color: #12a3eb;
	color: #ffffff;
}

/* Fix for double borders due to border-box */
.aps-form dt {
	border-right: none;
}

.aps-form dd,
.aps-form dd label {
	font-size: 14px;
	line-height: 1.42857143;
}

.aps-form dd label {
	display: inline-block;
	height: 34px;
	padding: 6px;
}

.aps-form dd label input[type="radio"] {
	height: initial;
	margin-right: 3px;
}

.aps-button-red,
.aps-button-blue,
.aps-button-green,
.aps-form input:not(.iconpicker-search),
.aps-form select,
.aps-form textarea {
	font-size: 14px;
	line-height: 1.42857143;
	color: #555555;
	height: 34px;
	padding: 6px 12px;
}

.aps-button-red,
.aps-button-blue,
.aps-button-green,
.aps-form input[type="text"],
.aps-form input[type="number"],
.aps-form input[type="search"],
.aps-form input[type="submit"],
.aps-form input[type="reset"],
.aps-form select,
.aps-form textarea {
	background-color: #ffffff;
	background-image: none;
	border: 1px solid #cccccc;
	border-radius: 4px;
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
	box-sizing: border-box;
	-webkit-transition: border-color ease-in-out 0.15s, -webkit-box-shadow ease-in-out 0.15s;
	-o-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
	transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
}

.aps-form input:not([type="checkbox"]):not([type="radio"]):focus,
.aps-form select:focus,
.aps-form textarea:focus {
	border-color: #66afe9;
	outline: 0;
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);
}

.aps-form select:focus {
	border-bottom-right-radius: 0;
	border-bottom-left-radius: 0;
}

.aps-form select[multiple] {
	height: auto;
	min-height: 170px;
}

.has-js select[multiple] {
	max-height: 340px;
}

.aps-form textarea {
	height: auto;
	resize: vertical;
}

/* Buttons */
.aps-button-green,
a.aps-button-green,
.aps-form input[type="submit"] {
	border-color: #28a745;
	color: #28a745;
}

.aps-button-green:hover,
a.aps-button-green:hover,
.aps-button-green.aps-button-active,
.aps-form input[type="submit"]:hover {
	background-color: #28a745;
	color: #ffffff;
}

.aps-button-red,
a.aps-button-red,
.aps-form input[type="reset"],
.aps-form input[name="cancel"] {
	border-color: #d31141;
	color: #d31141;
}

.aps-button-red:hover,
a.aps-button-red:hover,
.aps-button-red.aps-button-active,
.aps-form input[type="reset"]:hover,
.aps-form input[name="cancel"]:hover {
	background-color: #d31141;
	color: #ffffff;
}

.aps-button-blue {
	border-color: #12a3eb;
	color: #12a3eb;
}

.aps-button-blue:hover,
.aps-button-blue.aps-button-active {
	background-color: #12a3eb;
	color: #ffffff;
}

[class*="aps-button-"] .caret {
	padding-left: 6px;
}

[class*="aps-button-"]:hover .caret {
	border-color: #ffffff;
}

.aps-button-red,
.aps-button-blue,
.aps-button-green {
	text-decoration: none !important;
	cursor: pointer;
}

/* Form dropdown(s) */
.aps-form .dropdown-container {
	vertical-align: -2px;
	display: inline-block;
	float: none;
}

/* Multiple select scrollbar */
.aps-form select[multiple] {
	scrollbar-color: #666666 #cccccc;
	scrollbar-width: 10px;
}

.aps-form select[multiple]::-webkit-scrollbar {
	width: 10px;
}

.aps-form select[multiple]::-webkit-scrollbar-thumb {
	background: #666666;
	border-radius: 0 4px 4px 0;
}

.aps-form select[multiple]::-webkit-scrollbar-track {
	background: #cccccc;
	border-radius: 0 4px 4px 0;
}
