<div class="dropdown-container dropdown-container-left dropdown-button-control sort-tools">
	<span title="{{ lang('SEARCH') }}" class="aps-button-blue dropdown-trigger dropdown-select">
		<i class="icon fa-search fa-fw" aria-hidden="true"></i>
		<span class="caret"><i class="icon fa-sort-down fa-fw" aria-hidden="true"></i></span>
	</span>
	<div class="dropdown hidden">
		<div class="pointer"><div class="pointer-inner"></div></div>
		<div class="dropdown-contents">
			<fieldset class="display-options">
				<label>
					{{ lang('FORUM') ~ lang('COLON') }}
					<select name="f">
						<option value="0">{{ lang('SELECT_FORUM') }}</option>
						{{ S_SELECT_FORUM }}
					</select>
				</label>
				<label>
					{{ lang('TOPIC_TITLE') ~ lang('COLON') }}
					<input class="inputbox autowidth" name="t" type="text" value="{{ S_SEARCH_TOPIC }}">
				</label>
				{% if S_AUTH_USER %}
					<label>
						{{ lang('SORT_USERNAME') ~ lang('COLON') }}
						<input class="inputbox autowidth" name="u" type="text" value="{{ S_SEARCH_USER }}">
					</label>
				{% endif %}
				{% if S_AUTH_FROM %}
					<label>
						{{ lang('FROM')|capitalize ~ lang('COLON') }}
						<input class="inputbox autowidth" name="r" type="text" value="{{ S_SEARCH_FROM }}">
					</label>
				{% endif %}
			</fieldset>
		</div>
	</div>
</div>
