{% block width %}s12 m6{% endblock %}

{% block content %}
	<div class="aps-collection">
		{% set last_place = 0 %}
		{% set last_points = 0 %}
		{% for user in top_users %}
			{% set same_points = last_points == user.POINTS %}
			{% set last_place = same_points ? last_place : loop.index %}
			{% set last_points = same_points ? last_points : user.POINTS %}
			<div class="aps-collection-item aps-avatar">
				{{ user.AVATAR ? user.AVATAR : (S_APS_DAE_ENABLED ? '' : APS_NO_AVATAR) }}
				<span class="title">{{ user.NAME }}</span>
				<p>{{ aps_display(user.POINTS) }}</p>
				{% if S_APS_USER_ADJUST %}
					<a class="aps-secondary-content" href="{{ user.U_ADJUST }}" title="{{ lang('APS_ADJUST_USER_POINTS', aps_name()) }}">
						<i class="icon fa-pencil fa-fw"></i>
					</a>
				{% elseif last_place < 4 %}
					<i class="aps-secondary-content icon fa-trophy fa-fw aps-podium-{{ last_place }}" aria-hidden="true"></i>
				{% else %}
					<span class="aps-secondary-content fa-fw">{{ last_place }}</span>
				{% endif %}
			</div>
		{% endfor %}
	</div>
{% endblock %}

{% block footer %}
	<form class="aps-form" method="post" action="{{ U_APS_ACTION_TOP }}" data-ajax="aps_replace">
		<label for="aps_user_top_count">{{ lang('USERS') ~ lang('COLON') }}</label>
		<input id="aps_user_top_count" name="aps_user_top_count" type="number" min="{{ aps_config('aps_display_top_count') }}" max="50" value="{{ APS_TOP_USERS_COUNT }}"{% if not aps_config('aps_display_top_change') %} disabled{% endif %} />
		{% if aps_config('aps_display_top_change') %}<input name="submit" type="submit" value="{{ lang('GO') }}" />{% endif %}
	</form>
{% endblock %}

